@import url("../rodape.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
} 

body{overflow-x: hidden;}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0c0c0c;
}

.cabecalho nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60vw;
    height: 45vh;
}

.cabecalho img {
    flex-wrap: wrap;
    width: 15vw;
    max-width: 30%;
    display: block;
}

.cabecalho a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 15.5vh 0;
    text-align: center;
}

.cabecalho a:hover {
    background-color: #7c00b6;
    color: #ffffff;
}

.tit-sec{
    text-align: center;
    margin: 1.5vh 0;
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.conteudo {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #c0bebe;
    align-items: center;
}

.conteudo p{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    text-align: start;
    margin:0 0 0 31vh;
    font-size: 1rem;
    max-width: 100%;
    height: 0vh;
    font-weight: 540;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
}


.conteudo img{
    width: 15vw;
    max-width: 20%;
  

}




@media(max-width:990px){
    .cabecalho{
        flex-direction: column;
    }
    .cabecalho nav{
        flex-wrap: nowrap;
        margin-bottom: 0%;
    }
    .cabecalho a{
        padding: 5% 0;
        margin: 5vw;
    }
}

